<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Manti.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
    </startup>
    <userSettings>
        <Manti.Properties.Settings>
            <setting name="Address" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
            <setting name="Username" serializeAs="String">
                <value>root</value>
            </setting>
            <setting name="Password" serializeAs="String">
                <value />
            </setting>
            <setting name="Port" serializeAs="String">
                <value>3306</value>
            </setting>
            <setting name="DatabaseAuth" serializeAs="String">
                <value>auth</value>
            </setting>
            <setting name="DatabaseCharacters" serializeAs="String">
                <value>characters</value>
            </setting>
            <setting name="DatabaseWorld" serializeAs="String">
                <value>world</value>
            </setting>
            <setting name="SavePassword" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PathWorldserver" serializeAs="String">
                <value />
            </setting>
            <setting name="PathAuthserver" serializeAs="String">
                <value />
            </setting>
        </Manti.Properties.Settings>
    </userSettings>
</configuration>
